@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-main font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-text-main;
  }
}

.glass-panel {
  @apply bg-white bg-opacity-70 backdrop-filter backdrop-blur-lg border border-white/20 shadow-xl;
}